.map-container {
    width: 100vw;
    max-width: 800px; /* Adjust the max-width as needed */
    height: 500px; /* Set the fixed height for a square aspect ratio */
    margin: auto; /* Center the map horizontally */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect with transparency */
    margin-bottom: 50px;
}

.marker-label {
    background-color: white;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    top: -30px;
}